{
	"rules": {
		"eol-last": 2,
		"no-underscore-dangle": "off",
		"func-names": ["error", "never"],
		"no-param-reassign": ["error", { "props": false }],
		"arrow-body-style": "warn",
		"arrow-parens": "error",
		"consistent-return": "warn",
		"no-shadow": "warn",
		"dot-notation": "warn",
		"object-shorthand": "warn",
		"no-await-in-loop": "off"
	},
	"env": {
		"node": true,
		"jest": true
	},
	"globals": {
		"rootRequire": true,
		"logger": true,
		"backendEvents": true
	}
}
